doc/example.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://research.sun.com/wadl/2006/10" xmlns:doc="http://pythonhosted.org/pyramid_describer/xmlns/0.1/doc" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://research.sun.com/wadl/2006/10 wadl.xsd"><resources><resource id="endpoint-_2F" path=""><doc:doc>The application root.</doc:doc><method id="method-_2F-GET" name="GET" /></resource><resource id="endpoint-_2Fcontact" path="contact"><doc:doc>Contact manager.</doc:doc><method id="method-_2Fcontact-POST" name="POST"><doc:doc>Creates a new 'contact' object.</doc:doc></method></resource><resource id="endpoint-_2Fcontact_2FCONTACTID" path="contact/CONTACTID"><doc:doc>RESTful access to a specific contact.</doc:doc><method id="method-_2Fcontact_2FCONTACTID-DELETE" name="DELETE"><doc:doc>Delete this contact.</doc:doc></method><method id="method-_2Fcontact_2FCONTACTID-GET" name="GET"><doc:doc>Get this contact's details.</doc:doc></method><method id="method-_2Fcontact_2FCONTACTID-PUT" name="PUT"><doc:doc>Update this contact's details.</doc:doc></method></resource><resource id="endpoint-_2Flogin" path="login"><doc:doc>Authenticate against the server.</doc:doc><method id="method-_2Flogin-GET" name="GET" /></resource><resource id="endpoint-_2Flogout" path="logout"><doc:doc>Remove authentication tokens.</doc:doc><method id="method-_2Flogout-GET" name="GET" /></resource></resources></application>