doc/example.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://research.sun.com/wadl/2006/10" xmlns:doc="http://pythonhosted.org/pyramid_describer/xmlns/0.1/doc" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://research.sun.com/wadl/2006/10 wadl.xsd"><resources base="http://localhost"><resource id="endpoint-2f" path=""><doc:doc>The application root.</doc:doc><method id="method-2f-474554" name="GET" /></resource><resource id="endpoint-2f636f6e74616374" path="contact"><doc:doc>Contact manager.</doc:doc><method id="method-2f636f6e74616374-504f5354" name="POST"><doc:doc>Creates a new 'contact' object.</doc:doc></method></resource><resource id="endpoint-2f636f6e746163742f434f4e544143544944" path="contact/CONTACTID"><doc:doc>RESTful access to a specific contact.</doc:doc><method id="method-2f636f6e746163742f434f4e544143544944-44454c455445" name="DELETE"><doc:doc>Delete this contact.</doc:doc></method><method id="method-2f636f6e746163742f434f4e544143544944-474554" name="GET"><doc:doc>Get this contact's details.</doc:doc></method><method id="method-2f636f6e746163742f434f4e544143544944-505554" name="PUT"><doc:doc>Update this contact's details.</doc:doc></method></resource><resource id="endpoint-2f6c6f67696e" path="login"><doc:doc>Authenticate against the server.</doc:doc><method id="method-2f6c6f67696e-474554" name="GET" /></resource><resource id="endpoint-2f6c6f676f7574" path="logout"><doc:doc>Remove authentication tokens.</doc:doc><method id="method-2f6c6f676f7574-474554" name="GET" /></resource></resources></application>